<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>OAuth in Action: OAuth Client</title>
	</head>
	<body>
		<nav>
			<a href="/">Oauth in Action: <span>OAuth Client</span></a>
		</nav>
		<div>
			<p>Protected Resource Description: <span>{{if .description}} {{ .description }} {{ else }} NONE {{ end }}</span></p>
			<p>Protected Resource Description: <span>{{if .name}} {{ .name }} {{ else }} NONE {{ end }}</span></p>
		</div>
	</body>
</html>
